{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'css/create-todo.css' %}">
{% endblock customcss %}

{% block content %}
{% if user.is_authenticated %}
<div class="card mx-auto w-50">
  <div class="card-body">
    <h5 class="card-title">業務計画</h5>
    <h6 class="card-subtitle mb-2 text-muted">新規作成</h6>
    <form action='' method='POST' enctype='multipart/form-data'>{% csrf_token %}
      {# {{form.as_p}} #}
      <p>title: {{ form.title }}</p>
      <p>memo: {{ form.memo }}</p>
      <p>priority: {{ form.priority }}</p>
      <p>duedate: {{ form.duedate }}</p>
      <input type='hidden' name='user' value='{{ user.id }}'>
      <input type='submit' value='作成する' class="btn btn-primary">
    </form>
  </div>
</div>
{% else %}
ログインしてください<br>
<a href="{% url 'login' %}">ログインページへ</a>
{% endif %}
{% endblock content %}
