{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class='container'>
  <div class="alert alert-success" role="alert">
    <p>タイトル：{{ object.title }}</p>
    <p>内容：{{ object.memo }}</p>
    <p>期日：{{ object.duedate }}</p>
  </div>
<form action='' method='POST'>{% csrf_token %}
  <input type='submit' value='削除しますか？'>
</form>
<a href="{% url 'todo' %}">業務一覧ページへ</a>
{% else %}
ログインしてください<br>
<a href="{% url 'login' %}">ログインページへ</a>
{% endif %}
{% endblock content %}
