{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'css/comment.css' %}">
{% endblock customcss %}

{% block content %}
<div class='container'>
  <div class="alert alert-success" role="alert">
    <p>タイトル：{{ object.title }}</p>
    <p>投稿者：{{ object.author }}</p>
    <p>内容：{{ object.content }}</p>
    {% if object.images != '' %}
    <p><img src='{{ object.images.url }}' width=300></p>
    {% endif %}
    <a href="{% url 'good' object.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">いいね</a>
    <a href="{% url 'read' object.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">既読</a>
  </div>
  <a href="{% url 'list' %}">投稿一覧ページへ</a>
</div>

<div class="container">
 <form action="" method="POST" class="comment">{% csrf_token %}
  <p><label for="com">コメント</label></p>
  <textarea name="text" id="com" cols="30" rows="10"></textarea>
  <button type="submit">投稿</button>
</form> 
{% for comment in article %}
  <p>{{ comment.text }}</br><small>{{ comment.posted_at }}：{{ user.username }}</small></p>
{% empty %}
<p>コメントはありません</p>
{% endfor %}
</div>



{% endblock content %}