{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}">
{% endblock customcss %}
{% block header %}
{% endblock header %}

{% block content %}
<form class="form-signin" method="POST" action=''>{% csrf_token %}
  <img class="logo" src="/static/images/logo.png"></a>
  <h1 class="h3 mb-3 font-weight-normal">
    ログインする
  </h1>
  <label for="inputEmail" class="sr-only">
    メールアドレス
  </label>
  <input type="text" id="inputEmail" class="form-control" name='username' placeholder="氏名" required autofocus>
  <label for="inputPassword" class="sr-only">
    パスワード
  </label>
  <input type="password" id="inputPassword" class="form-control" name='password' placeholder="パスワード" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> 記憶する
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    ログイン
  </button>
  <a href="{% url 'signup' %}">アカウント登録はこちら</a>

  </div>
  <p class="mt-5 mb-3 text-muted">&copy; comuni 2020</p>
</form>

{% endblock content %}